<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="../css/money.css">
</head>
<body>
	<div class="wrap">
		<header class="header">
			<a href="../#my">设置</a>
			<h2>我的kk</h2>
		</header>
		<main class="main">
			<nav class="nav">
				<a href="javascript:;">全部</a>
				<a href="javascript:;" class="aa">待付款</a>
				<a href="javascript:;">待收货</a>
				<a href="javascript:;">待评论</a>
			</nav>
			<div class="img">
				<img src="../img/gouwu.png" class="img1">
				<p>暂没有相关的订单哦</p>
				<a href="../#home"class="button">马上去逛逛</a>
			</div>
		</main>

	</div>
</body>
<script>
	document.documentElement.style.fontSize=document.documentElement.clientWidth/7.2+'px';
	
</script>
</html>