<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="../css/shezhi.css">
</head>
<body>
	<div class="shehzi-box" >	
		 <header class="header">
			<a href="../#my">〈</a>
			<h1>设置</h1>
		</header>
		
		<main class="main" ng-controller="shezhiCtrl">
			<section class="shezhi">
				<ol>
					<li>个人资料</li>
					<li>账户安全</li>
					<li>地址管理</li>
					<li>推送消息设置<span></span></li>
				</ol>
				<ul>
					<li>我要反馈</li>
					<li>清除缓存<span>1.34MB</span></li>
				</ul>
				<ul>
					<li>帮助中心</li>
					<li>客服电话 <b>400-522-321</b></li>
					<li>关于我们</li>
					<li class="aa">退出</li>
				</ul>
			</section>
		</main>
	</div>	
</body>
<script>
	document.documentElement.style.fontSize=document.documentElement.clientWidth/7.2+'px';
	
</script>
</html>

